/**
 * style.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */


// @use "sass-partials/_reboot" as *;
@use "sass-partials/_variables" as *;
@use "sass-partials/_wordpress" as *;
@use "sass-partials/_header" as *;
@use "sass-partials/_content" as *; // common for gutenberg and frontend
@use "sass-partials/_print" as *;




html {
    font-size: 15px;
}
body {
    font-size: 1rem;
}
.browserupgrade {
    margin-bottom: 0;
    border-radius: 0;
}


/*------------------------------------*\
    MAIN
\*------------------------------------*/

.site-header {
    position: absolute;
    width: 100%;
}
.page-header {
    padding: 10rem 0 2rem;
    background: var(--wp--preset--color--background-2);
}
.container,
.site-header .navbar {
    padding-left: var(--wp--style--root--padding-left);
    padding-right: var(--wp--style--root--padding-right);
}
.alignfull {
    margin-left: calc( -1 * var(--wp--style--root--padding-left) );
    margin-right: calc( -1 * var(--wp--style--root--padding-right) );
}
.page-header .container,
.footer .container  {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
}
.site-header .navbar  {
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

.page-title {
    margin: 0;
}


/*------------------------------------*\
    POSTS
\*------------------------------------*/

.post-thumbnail {
    float: left;
    margin-right: 1rem;
}
.entry-title {
    margin-bottom: .5rem;
}
.hentry .entry-meta {
    font-size: .9rem;
    margin-bottom: .5rem;
}
.single .hentry .entry-meta {
    margin-bottom: 0;
    margin-top: .5rem;
}
.hentry .sticky-post-badge {
    margin-bottom: .5rem;
    color: #fff;
    background-color: #868e96;
}
.taxonomy-description {
    margin-top: .5rem;
}
.taxonomy-description p {
    margin-bottom: .5rem;
}
.taxonomy-description p:last-of-type {
    margin-bottom: 0;
}
.post-navigation {
    background: #efefef;
    padding: 2rem;
}
.post-navigation::after {
    content: "";
    display: table;
    clear: both;
}
.post-navigation .nav-next,
.nav-next .meta-nav {
    float: right;
}
.post-navigation .nav-previous,
.nav-previous .meta-nav {
    float: left;
}
.post-navigation .meta-nav {
    margin: 0 1rem;
}

.pagination,
.page-links {
	display: block;
	text-align: center;
	clear: both;
	margin-bottom: 2rem;
}
.pagination .page-numbers,
.page-links .page-numbers {
    background-color: #f9f9f9;
    min-width: 2rem;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
}
.pagination .page-numbers.dots,
.pagination .page-numbers.next, 
.pagination .page-numbers.prev {
    width: auto;
    font-size: .9em;
    background: none;
}
.pagination span.page-numbers {
    background-color: #eee;
}
.author-info {
    border-top: solid 1px #e4e4e4;
    padding-top: 2rem;
    margin-top: 2rem;
}


/*------------------------------------*\
	FOOTER
\*------------------------------------*/

.footer{
	z-index: 4;
    position: relative;
    padding: 4rem 0 2rem;
}




/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html {
        font-size: 16px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
	.page-header {
        padding: 10rem 0 2rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}



/* Large devices (desktops, less than 1199px)*/
@media (max-width: 1199px) {}

/* Medium devices (tablets, less than 991px)*/
@media (max-width: 991px) {}

/* Small devices (landscape phones, less than 767px)*/
@media (max-width: 767px) {}

/* Extra small devices (portrait phones, less than 575px)*/
@media (max-width: 575px) {}




/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}




