body {
    overflow-x: hidden;
}
img,
video {
    max-width: 100%;
    height: auto;
}
img.emoji {
    display: inline-block;
    border: none;
    height: 1em;
    width: 1em;
    margin: 0 .07em;
    vertical-align: -.1em;
    background: 0 0;
    padding: 0;
    box-shadow: none;
}

.screen-reader-text {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
// .btn, 
// .btn.btn-primary,
// .wp-block-button__link,
// .wp-block-button__link:visited,
// .editor-styles-wrapper .wp-block-button__link {
//     border: 0;
//     font-family: $font-family-primary;
//     color: #fff;
//     text-transform: uppercase;
//     letter-spacing: 0;
//     font-size: .9rem;
//     padding: 1rem 1.5rem .95rem;
//     font-weight: 900;
//     background: $blue;
//     border-radius: 100px;
//     transition: 300ms all ease-in-out;
//     &:active,
//     &.active,
//     &:focus, 
//     &:hover {
//         background-color: $green;
//         color: #fff;
//         text-decoration: none;
//         transition: none;
//     }
// }
.wp-block-button__link:not(.has-background):hover {
    background-color: color-mix(in srgb, var(--wp--preset--color--contrast) 5%, transparent);
}

.entry-content > *,
.primary > * {
    margin-block-start: var(--wp--style--block-gap);
    margin-block-end: 0;
}
.page-template-page-blank .entry-content > *:first-child {
    margin-block-start: 0;
}
.entry-content > :where(:not(.alignleft):not(.alignright):not(.alignfull)),
.primary > * {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
}
.entry-content > .alignwide {
    max-width: var(--wp--style--global--wide-size);
}

@media (min-width: 601px) {}


// Gutenberg mobile break point
@media (max-width: 600px) {
    .wp-block-media-text.is-stacked-on-mobile figure {
        margin-bottom: 1.5rem;
    }
}

/* Extra small devices (portrait phones, less than 575px) */
@media (max-width: 575px) {}