/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.entry-content .wp-block-image.alignfull img,
.entry-content .wp-block-image.alignwide img {
    width: 100%;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}

.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.entry-content .gallery {
	position: relative;
    margin: 2rem 0;
}
.gallery-item {
    display: inline-block;
    width: 50%;
    padding: 0 1rem;
    text-align: center;
    vertical-align: top;
}
.gallery-columns-1 .gallery-item {
    width: 100%;
}
.gallery-icon img {
    margin: auto;
}
pre.wp-block-code {
    background: #fafafa;
    padding: .5rem;
}
.wp-block-video video {
    max-width: none;
    width: 100%;
}

.wp-block-details {
	summary {
		padding: 1rem;
		display: block;
		background: color-mix(in srgb, var(--wp--preset--color--contrast) 5%, transparent);
		position: relative;
		cursor: pointer;
		user-select: none;
		&:hover {
			background-color: color-mix(in srgb, var(--wp--preset--color--contrast) 7%, transparent);
		}
		&:before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' %3E%3Cpath d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E"); // Fon Awesome chevron-right
			display: inline-block;
			font-size: inherit;
			height: 1.35em;
			overflow: visible;
			vertical-align: -.3em;
			width: .875em;
			transform: rotate(0);
			transform-origin: center 0.675em;
			transition: .15s transform ease;
			margin-right: .75rem;
		}
	}
	&[open] > summary:before {
		transform: rotate(90deg);
	}
	summary::-webkit-details-marker {
		display:none;
	}
}


@media (min-width: 544px) {
	.alignnone {
		margin:5px 20px 20px 0;
	}
	.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	a img.alignnone {
		margin:5px 20px 20px 0;
	}
	a img.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignnone {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignleft {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignright {
		margin:5px 0 20px 20px;
	}
	.gallery-columns-2 .gallery-item {
	    width: 50%;
	}
	.gallery-columns-3 .gallery-item {
	    width: 33.33%;
	}
	.gallery-columns-4 .gallery-item {
	    width: 25%;
	}
	.gallery-columns-5 .gallery-item {
	    width: 20%;
	}
	.gallery-columns-6 .gallery-item {
	    width: 16.66%;
	}
	.gallery-columns-7 .gallery-item {
	    width: 14.285%;
	}
	.gallery-columns-8 .gallery-item {
	    width: 12.5%;
	}
	.gallery-columns-9 .gallery-item {
	    width: 11.11%;
	}
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (max-width: 543px) {}